---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
import SectionHead from "@/components/SectionHead.astro";

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog");

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.date.valueOf() - a.data.date.valueOf();
});
console.log(publishedBlogEntries);
---

<Layout title='Blog'>
  <Container>
    <SectionHead>
      <Fragment slot='title'>Cursos</Fragment>
      <Fragment slot='desc'>
        Mantenete al tanto de nuestros cursos de formación.
      </Fragment>
    </SectionHead>
    <main class='mt-16'>
      <ul class='grid gap-16 max-w-4xl mx-auto'>
        {
          publishedBlogEntries.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                <div class='grid md:grid-cols-2 gap-5 md:gap-10 items-center'>
                  <Picture
                    src={post.data.imagen}
                    alt={post.data.title}
                    sizes='(max-width: 800px) 100vw, 800px'
                    width={800}
                    height={600}
                    class='w-full rounded-md object-cover object-center bg-white'
                  />
                  <div>
                    <span class='text-gray-40 block text-xs'>
                      Curso publicado: {post.data.date.toLocaleDateString()}
                    </span>
                    <span class='text-blue-400 uppercase tracking-wider text-sm font-medium'>
                      {post.data.subtitle}
                    </span>

                    <h2 class='text-3xl font-semibold leading-snug tracking-tight mt-1 '>
                      {post.data.title}
                    </h2>

                    <div class='flex gap-2 mt-3'>
                      <span class='text-gray-400'>{post.data.subtitle}</span>
                      <span class='text-gray-400'>• </span>
                      <span class='text-gray-400'>{post.data.startDate}</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
